In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pandas import DataFrame

In [7]:
data = pd.read_csv(r'knockout_sim_results_with_stats_tab.csv')
data = data.set_index('genes')
data = data.iloc[:,7:]
data

,CAOV3,JHOS2,PEO1,PEO4,OAW28,COV504,JHOS4,CAOV4,NIHOVCAR3,SNU8,PEA1,59M,ES2
genes,,,,,,,,,,,,,
AKR1A1,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.999302,0.999777,1.000000
SLC19A1,0.999993,1.0,1.0,0.999882,0.999888,0.999858,0.999995,0.999989,0.999922,0.999901,0.999879,0.999870,0.999676
CRYL1,1.000000,1.0,1.0,1.000000,1.000000,0.999690,1.000000,1.000000,1.000000,1.000000,0.999302,0.999777,1.000000
SLC4A1,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
DPEP1,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
CA8,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000002
PPM1B,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000003
AK9,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000003
ZDHHC7,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000003
SLC15A3,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000003

In [8]:
threshold = 0.95
proportions = []
for col in data.columns:
    proportion = (data[col] <= threshold).mean()
    print(f"{col}: {proportion:.4f}")
    proportions.append(proportion)
print('the average proportion of genes under this threshold is:',sum(proportions)/len(proportions))

CAOV3: 0.0613
JHOS2: 0.0546
PEO1: 0.0601
PEO4: 0.0615
OAW28: 0.0627
COV504: 0.0618
JHOS4: 0.0601
CAOV4: 0.0610
NIHOVCAR3: 0.0670
SNU8: 0.0607
PEA1: 0.0607
59M: 0.0627
ES2: 0.0665
the average proportion of genes under this threshold is: 0.06158735803347188

In [2]:
0.0615*3461

212.8515

In [4]:
cols = data.columns
n_cols = len(cols)

# Choose grid size
nrows = int(np.ceil(np.sqrt(n_cols)))
ncols = int(np.ceil(n_cols / nrows))

fig, axes = plt.subplots(nrows, ncols, figsize=(3*ncols, 3*nrows), sharex=True, sharey=True)
axes = axes.flatten()

for ax, col in zip(axes, cols):
    ax.hist(df[col], bins=50)
    ax.set_title(col, fontsize=9)
    ax.axvline(0.95, linestyle='--', linewidth=1)  # threshold line

# Remove empty subplots
for ax in axes[len(cols):]:
    ax.axis('off')

fig.supxlabel('Value')
fig.supylabel('Frequency')
plt.tight_layout()
plt.show()

NameError: name 'data' is not defined